<!--<label for="nombre">Introduce el nombre del empleado:</label>
<input type="text" name="nombre" id="nombre" #nombre>
<input type="button" value="Enter" (click)="ingresarNombre(nombre.value)">
<br>
<label for="apellido">Introduce el apellido del empleado:</label>
<input type="text" name="apellido" id="apellido" #apellido>
<input type="button" value="Enter" (click)="ingresarApellido(apellido.value)">
<br>
<label for="edad">Introduce la edad del empleado:</label>
<input type="text" name="edad" id="edad" #edad>
<input type="button" value="Enter" (click)="ingresarEdad(edad.value)">
<br>
<label for="empresa">Introduce la empresa del empleado:</label>
<input type="text" name="empresa" id="empresa" #empresa>
<input type="button" value="Enter" (click)="ingresarEmpresa(empresa.value)">
<br>-->

<!--<span>Introduce el nombre del empleado:</span>
<input type="text" name="nombre" id="nombre" #nombre (keyup)="0" [disabled]="habilitacionCuadro">
<br>
<span>Introduce el apellido del empleado:</span>
<input type="text" name="apellido" id="apellido" #apellido (keyup)="0" [disabled]="habilitacionCuadro">
<br>
<span>Introduce la edad del empleado:</span>
<input type="text" name="edad" id="edad" #edad (keyup)="0" [disabled]="habilitacionCuadro">
<br>
<span>Introduce la empresa del empleado:</span>
<input type="text" name="empresa" id="empresa" #empresa (keyup)="0" [disabled]="habilitacionCuadro">-->

<span>Introduce el nombre del empleado:</span>
<input type="text" [(ngModel)]="nombre">
<br>
<span>Introduce el apellido del empleado:</span>
<input type="text" [(ngModel)]="apellido">
<br>
<span>Introduce la edad del empleado:</span>
<input type="text" [(ngModel)]="edad">
<br>
<span>Introduce la empresa del empleado:</span>
<input type="text" [(ngModel)]="empresa">

<p>Nombre del empleado: {{nombre}}</p>
<p>Apellido del empleado: {{apellido}}</p>
<p>Edad del empleado: {{+edad < 18 ? "Menor de edad" : "Mayor de edad"}}</p>
<p>Empresa del empleado: {{empresa}}</p>

<button (click)="getRegistroUsuario()">Registrar</button>
<br>
<p>{{textoDeRegistro}}</p>
<span>Registrado: </span><input type="radio" value="si" name="nRegistro" id="registro" [checked]="usuRegistrado" (click)="setUsuarioRegistrado($event)">
<br>
<span>No registrado: </span><input type="radio" value="no" name="nRegistro" id="registro" (click)="setUsuarioRegistrado($event)">